<!doctype html>
<html lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
		<form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
			<div class="search-form__inner">
				<div>
					<div id="search-container" class="ajax_search">
						<form method="get" id="searchform" action="">
							<div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="Type then select or enter" name="s" id="search-input" />
								<ul id="search_filtered" class="search_filtered"></ul>
							</div>
							<input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
						</form>
					</div>
				</div>
			</div>
		</form>
		<div class="navi" data-aos="fade-down">
			<div class="bt-nav">
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="line line3"></div>
			</div>
			<div class="navbar animated fadeInRight">
				<div class="inner">
					<nav id="site-navigation" class="main-navigation">
						<div id="main-menu" class="main-menu-container">
							<div class="menu-menu-container">
								<ul id="primary-menu" class="menu">
									<li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
										<a href="index.html">首页</a>
									</li>
									<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
										<a href="update.html">更新</a>
									</li>
									<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
										<a href="link.html">链接</a>
									</li>
									<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
										<a href="archives.html">归档</a>
										<ul class="sub-menu">
											<li id="menu-item-165" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-165">
												<a href="">theme</a>
											</li>
											<li id="menu-item-163" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-163">
												<a href="">Happen</a>
											</li>
											<li id="menu-item-924" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-924">
												<a href="">WeWork</a>
											</li>
											<li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-164">
												<a href="">WordPress</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
										<a href="gustbook.html">留言</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- #site-navigation -->
				</div>
			</div>
		</div>
		<div class="hebin" data-aos="fade-down">
			<i class=" js-toggle-search iconfont">&#xe60e;</i>
		</div>
		<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
			<div class="site-branding text-center">
				<a href="">
					<figure>
						<img class="custom-logo avatar" src="statics/images/omikron.png" />
					</figure>
				</a>
				<h3 class="blog-description"><p>This is beauty</p></h3>
			</div>
			<!-- .site-branding -->
			<div class="decor-part">
				<div id="particles-js"></div>
			</div>
			<div class="animation-header">
				<div class="decor-wrapper">
					<svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
						<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
						<path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
						<path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
						<path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
						<path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
						<path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
						<path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
					</svg>
				</div>
			</div>
		</header>
		<div id="main" class="content">
			<div class="container">
				<article id="post-2" class="js-gallery post-2 page type-page status-publish has-post-thumbnail hentry">
					<style>
						.meta {
							display: none;
						}
						
						#NextPrevPosts {
							margin: 0;
							visibility: hidden;
						}
					</style>
					<section class="post_content">
						<header class="post_header">
							<h1 class="post_title">街坊留言</h1>
						</header>

						<div class="meta split split--responsive cf" style="display: block;">
							
							<div id="social-share"><span class="entypo-share"><i class="iconfont">&#xe614;</i>分享</span></div>
							<div class="slide">
								<a class="btn-slide" title="switch down"><i class="iconfont">&#xe615;</i>折叠评论区</a>
							</div>
						</div>
					</section>
				</article>
			</div>
			<svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
			<div id="social">
				<ul>
					<li>
						<a href="" title="qzone" target="_blank"><i class="iconfont">&#xe67f;</i></a>
					</li>
					<li>
						<a href="" title="weibo" target="_blank"><i class="iconfont">&#xe680;</i></a>
					</li>
					<li>
						<a href="" title="douban" target="_blank"><i class="iconfont">&#xe681;</i></a>
					</li>
					<li>
						<a href="" title="twitter" target="_blank"><i class="iconfont">&#xe683;</i></a>
					</li>
				</ul>
			</div>
			<div id="panel">
				<div class="comment-area">
					<section class="comments">
						<div class="comments-main">
							<div id="comments-list-title"><span>160</span> 条评论 </div>
							<div id="loading-comments">
								<div class="host">
									<div class="loading loading-0"></div>
									<div class="loading loading-1"></div>
									<div class="loading loading-2"></div>
								</div>
							</div>
							<ul class="commentwrap">
								<li class="comment even thread-even depth-1" id="li-comment-">
									<div id="comment-936" class="comment_body contents">
										<div class="profile">
											<a href=""><img src="statics/images/d9885b7dc7a78f9cadfb81be7512d630.png" class="gravatar" alt="沺"></a>
										</div>
										<div class="main shadow">
											<div class="commentinfo">
												<section class="commeta">
													<div class="shang">
														<h4 class="author"><a href="" target="_blank"><img src="statics/images/d9885b7dc7a78f9cadfb81be7512d630.png" class="gravatarsmall" alt="沺">沺</a></h4>
													</div>
												</section>
											</div>
											<div class="body">
												<p>每日惯例来检查，生意兴隆通四海</p>
											</div>
											<div class="xia info">
												<span><time datetime="2018-01-16">2018年1月16日</time></span>
												<span><a rel='nofollow' class='comment-reply-link' href='' onclick='return addComment.moveForm( "comment-936", "936", "respond", "2" )' aria-label='回复给沺'>回复</a></span>
											</div>
										</div>
									</div>
								</li>
								<!-- #comment-## -->
								<li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-">
									<div id="comment-949" class="comment_body contents">
										<div class="profile">
											<a href=""><img src="statics/images/573594c6f0bb6559381e5acf27845208.jpg" class="gravatar" alt="吖远zzy"></a>
										</div>
										<div class="main shadow">
											<div class="commentinfo">
												<section class="commeta">
													<div class="shang">
														<h4 class="author"><a href="" target="_blank"><img src="statics/images/573594c6f0bb6559381e5acf27845208.jpg" class="gravatarsmall" alt="吖远zzy">吖远zzy</a></h4>
													</div>
												</section>
											</div>
											<div class="body">
												<p>(๑•॒̀ ູ॒•́๑) 这主题不错，留个脚印~</p>
											</div>
											<div class="xia info">
												<span><time datetime="2018-02-03">2018年2月3日</time></span>
												<span><a rel='nofollow' class='comment-reply-link' href='' onclick='return addComment.moveForm( "comment-949", "949", "respond", "2" )' aria-label='回复给吖远zzy'>回复</a></span>
											</div>
										</div>
									</div>
								</li>
								<!-- #comment-## -->
								<li class="comment even thread-even depth-1" id="li-comment-">
									<div id="comment-959" class="comment_body contents">
										<div class="profile">
											<a href=""><img src="statics/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg" class="gravatar" alt="vxZoo"></a>
										</div>
										<div class="main shadow">
											<div class="commentinfo">
												<section class="commeta">
													<div class="shang">
														<h4 class="author"><a href="" target="_blank"><img src="statics/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg" class="gravatarsmall" alt="vxZoo">vxZoo</a></h4>
													</div>
												</section>
											</div>
											<div class="body">
												<p>俊杰男神，小弟给您拜年了。新年行大运，阖家欢乐，幸福安康。</p>
											</div>
											<div class="xia info">
												<span><time datetime="2018-02-16">2018年2月16日</time></span>
												<span><a rel='nofollow' class='comment-reply-link' href='' onclick='return addComment.moveForm( "comment-959", "959", "respond", "2" )' aria-label='回复给vxZoo'>回复</a></span>
											</div>
										</div>
									</div>
								</li>
								<!-- #comment-## -->
								<li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-">
									<div id="comment-986" class="comment_body contents">
										<div class="profile">
											<a href=""><img src="statics/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg" class="gravatar" alt="vxZoo"></a>
										</div>
										<div class="main shadow">
											<div class="commentinfo">
												<section class="commeta">
													<div class="shang">
														<h4 class="author"><a href="" target="_blank"><img src="statics/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg" class="gravatarsmall" alt="vxZoo">vxZoo</a></h4>
													</div>
												</section>
											</div>
											<div class="body">
												<p>打卡</p>
											</div>
											<div class="xia info">
												<span><time datetime="2018-03-29">2018年3月29日</time></span>
												<span><a rel='nofollow' class='comment-reply-link' href='' onclick='return addComment.moveForm( "comment-986", "986", "respond", "2" )' aria-label='回复给vxZoo'>回复</a></span>
											</div>
										</div>
									</div>
								</li>
								<!-- #comment-## -->
							</ul>
							<nav id="comments-navi">
								<a class="prev page-numbers" href="">
									<</a>
										<a class='page-numbers' href='#'>1</a>
										<span class="page-numbers dots">&hellip;</span>
										<a class='page-numbers' href='#'>15</a>
										<a class='page-numbers' href='#'>16</a>
										<span aria-current='page' class='page-numbers current'>17</span></nav>
							<div id="respond" class="comment-respond">
								<h6 id="replytitle" class="comment-reply-title"><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">取消</a></h6>
								<form action="#" method="post" id="commentform" class="clearfix">
									<div class="clearfix"></div>
									<div class="author-info">
										<input type="text" name="author" id="author" placeholder="昵  称 : " value="" tabindex="1" title="Name (required)" />
										<input type="text" name="email" id="email" placeholder="邮  箱 : " value="" tabindex="2" title="E-mail(will not be published) required" />
										<input type="text" name="url" id="url" placeholder="网  址 : " value="" tabindex="3" title="Website" />
									</div>
									<div class="clearfix"></div>
									<input type='hidden' name='comment_post_ID' value='2' id='comment_post_ID' />
									<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
									<p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="44ac0661b8" /></p>
									<p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="105" /></p>
									<div class="comment-form-info">
										<div class="real-time-gravatar"> <img id="real-time-gravatar" src="statics/images/d41d8cd98f00b204e9800998ecf8427e.png" alt="gravatar头像" />
										</div>
										<p class="input-row">
											<i class="row-icon"></i>
											<textarea class="text_area" rows="3" cols="80" name="comment" id="comment" tabindex="4" placeholder="你不说两句吗？(°∀°)ﾉ……"></textarea>
											<input type="submit" name="submit" class="button" id="submit" tabindex="5" value="发送" />
										</p>
									</div>
								</form>
							</div>
						</div>
					</section>
				</div>
			</div>
			<svg id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
			<div class="wrapper">
			</div>
		</div>

		<footer id="footer" class="overlay animated from-top">
			<div class="decor-wrapper">
				<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
					<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
					<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
					<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
					<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
					<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
					<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
				</svg>
			</div>
			<div class="socialize" data-aos="zoom-in">
				<li>
					<a title="weibo" class="socialicon" href=""><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
				</li>
				<li class="wechat">
					<a class="socialicon"><i class="iconfont">&#xe609;</i></a>
					<div class="wechatimg"><img src="statics/images/49D3746D-7519-B709-83E4-65BD1927C4E7.jpg"></div>
				</li>
				<li>
					<a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
				</li>
			</div>
			<div class="cr">
				Copyright&copy;2018. Design by
				<a href="">17sucai</a>
			</div>
			<script type='text/javascript' src='statics/js/jquery.min.js'></script>
			<script type='text/javascript' src='statics/js/plugins.js'></script>
			<script type='text/javascript' src='statics/js/script.js'></script>
			<script type='text/javascript' src='statics/js/particles.js'></script>
			<script type='text/javascript' src='statics/js/aos.js'></script>

	</body>

</html>