<!doctype html>
<html lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
		<form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
			<div class="search-form__inner">
				<div>
					<div id="search-container" class="ajax_search">
						<form method="get" id="searchform" action="">
							<div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="Type then select or enter" name="s" id="search-input" />
								<ul id="search_filtered" class="search_filtered"></ul>
							</div>
							<input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
						</form>
					</div>
				</div>
			</div>
		</form>
		<div class="navi" data-aos="fade-down">
			<div class="bt-nav">
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="line line3"></div>
			</div>
			<div class="navbar animated fadeInRight">
				<div class="inner">
					<nav id="site-navigation" class="main-navigation">
						<div id="main-menu" class="main-menu-container">
							<div class="menu-menu-container">
								<ul id="primary-menu" class="menu">
									<li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
										<a href="index.html">首页</a>
									</li>
									<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
										<a href="update.html">更新</a>
									</li>
									<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
										<a href="link.html">链接</a>
									</li>
									<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
										<a href="archives.html">归档</a>
										<ul class="sub-menu">
											<li id="menu-item-165" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-165">
												<a href="">theme</a>
											</li>
											<li id="menu-item-163" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-163">
												<a href="">Happen</a>
											</li>
											<li id="menu-item-924" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-924">
												<a href="">WeWork</a>
											</li>
											<li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-164">
												<a href="">WordPress</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
										<a href="gustbook.html">留言</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- #site-navigation -->
				</div>
			</div>
		</div>
		<div class="hebin" data-aos="fade-down">
			<i class=" js-toggle-search iconfont">&#xe60e;</i>
		</div>
		<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
			<div class="site-branding text-center">
				<a href="">
					<figure>
						<img class="custom-logo avatar" src="statics/images/omikron.png" />
					</figure>
				</a>
				<h3 class="blog-description"><p>This is beauty</p></h3>
			</div>
			<!-- .site-branding -->
			<div class="decor-part">
				<div id="particles-js"></div>
			</div>
			<div class="animation-header">
				<div class="decor-wrapper">
					<svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
						<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
						<path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
						<path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
						<path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
						<path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
						<path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
						<path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
					</svg>
				</div>
			</div>
		</header>
		<div id="main" class="content">
			<div class="container">
				<style>
					body.custom-background {
						background: #fff
					}
					
					.container {
						padding: 10px 0px;
					}
				</style>
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title">更新</h1>
					</header>
					<div class="applicant__timeline">
						<ul>
							<li>
								<div>版本正式更新至  3.7 ！<br /><span class="time-ago">2017.12.25</span></div>
							</li>
							<li class="warning">
								<div>修复站点 favicon 图标在非主页不显示的情况</div>
							</li>
							<li class="success">
								<div>替换头部为jQuery粒子效果<br /><span class="time-ago">2017.12.20</span></div>
							</li>
							<li class="warning">
								<div>修复文章置顶图标在非动效环境下错位</div>
							</li>
							<li class="warning">
								<div>修复图像滤镜溢出情况</div>
							</li>
							<li class="success">
								<div>优化主页的图像文章形式获取缩略图数量逻辑<br /><span class="time-ago">2017.09.28</span></div>
							</li>
							<li class="warning">
								<div>修复个别用户提及的伪静态下评论翻页失效状况</div>
							</li>
							<li class="warning">
								<div>修复主页图像文章“Pics”错位及底部微信二维码错位状况</div>
							</li>
							<li class="success">
								<div>更新相册插件，实现多图多栏自适<br /><span class="time-ago">2017.08.31</span></div>
							</li>
							<li class="warning">
								<div>修复长久被忽视的 SEO 问题及优化</div>
							</li>
							<li class="warning">
								<div>修复夸克等基于 U4 内核浏览器内页脚显示缺失状况</div>
							</li>
							<li class="success">
								<div>更新移动设备效果<br /><span class="time-ago">2017.08.05</span></div>
							</li>
							<li class="warning">
								<div>修复 AOS 特效引起的评论无响应情况</div>
							</li>
							<li>
								<div>版本正式更新至  3.6 ！<br /><span class="time-ago">2017.07.30</span></div>
							</li>
							<li class="success">
								<div>重构标准、图像、状态样式及对应的移动端适应效果<br /><span class="time-ago">2017.07.28</span></div>
							</li>
							<li class="warning">
								<div>修复 v3.5 本地调试仪表盘出现的评论模块数据回调的 bug 提示</div>
							</li>
							<li class="success">
								<div>新增 Ajax 搜索功能，同时支持原来的搜索使用形式<br /><span class="time-ago">2017.07.08</span></div>
							</li>
							<li class="warning">
								<div>修复手机端菜单不响应的问题</div>
							</li>
							<li class="success">
								<div>更新部分排版样式、增加文章标签自动关联生成关键词链接<br /><span class="time-ago">2017.06.20</span></div>
							</li>
							<li>
								<div>版本正式更新至  3.5 ！<br /><span class="time-ago">2017.06.11</span></div>
							</li>
							<li class="success">
								<div>重建WP自带的外部和内部引用链接功能和美化样式<br /><span class="time-ago">2017.06.11</span></div>
							</li>
							<li class="warning">
								<div>修复A链接在主页Ajax无限加载后缺失的情况</div>
							</li>
							<li class="success">
								<div>优化主页和内容页部分JS加载逻辑、优化缩略图。<br /><span class="time-ago">2016.11.18</span></div>
							</li>
							<li class="success">
								<div>新增头部波浪特效，可后台设置关闭；调整主页经典布局错位问题<br /><span class="time-ago">2016.11.13</span></div>
							</li>
							<li class="success">
								<div>新增上一篇下一篇文章链接，后台开关设置。<br /><span class="time-ago">2016.11.10</span></div>
							</li>
							<li class="success">
								<div>新增缩略图文章经典样式后台开关<br /><span class="time-ago">2016.11.02</span></div>
							</li>
							<li>
								<div>版本正式更新至  3.1 ！<br /><span class="time-ago">2016.11.02</span></div>
							</li>
							<li class="warning">
								<div>修复菜单在移动端错位的情况，修改移动端搜索样式</div>
							</li>
							<li class="success">
								<div>新增二级菜单支持，调整部分动效<br /><span class="time-ago">2016.10.2</span></div>
							</li>
							<li class="warning">
								<div>修复首页相册底部溢出、修复移动设备标题错位，修复状态样式错位</div>
							</li>
							<li class="success">
								<div>新建文章样式标准、状态、相册、增加暗箱效果<br /><span class="time-ago">2016.9.21</span></div>
							</li>
							<li class="success">
								<div>构建层级评论系统，多层级嵌套，redesigned评论样式<br /><span class="time-ago">2016.9.20</span></div>
							</li>
							<li>
								<div>重新搭建Wp平台，重构：重写框架、重构排版、重构评论<br /><span class="time-ago">2016.9.16</span></div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>

		<footer id="footer" class="overlay animated from-top">
			<div class="decor-wrapper">
				<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
					<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
					<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
					<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
					<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
					<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
					<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
				</svg>
			</div>
			<div class="socialize" data-aos="zoom-in">
				<li>
					<a title="weibo" class="socialicon" href=""><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
				</li>
				<li class="wechat">
					<a class="socialicon"><i class="iconfont">&#xe609;</i></a>
					<div class="wechatimg"><img src="statics/images/49D3746D-7519-B709-83E4-65BD1927C4E7.jpg"></div>
				</li>
				<li>
					<a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
				</li>
			</div>
			<div class="cr">
				Copyright&copy;2018. Design by
				<a href="">17sucai</a>
			</div>
			<script type='text/javascript' src='statics/js/jquery.min.js'></script>
			<script type='text/javascript' src='statics/js/plugins.js'></script>
			<script type='text/javascript' src='statics/js/script.js'></script>
			<script type='text/javascript' src='statics/js/particles.js'></script>
			<script type='text/javascript' src='statics/js/aos.js'></script>

	</body>

</html>